<%= form_with url: recipe_recipefoods_path, scope: :recipe_food do |form| %>
  <div>
    <%= form.food :food, style: "display: block" %>
    <%= form.select :food_id, current_user.foods.collect {|food| [food.name, food.id]}%>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.submit "Create recipefood" %>
  </div>
<% end %>

