<div id="<%= dom_id recipe %>">
  <h2>
    <strong>Name:</strong>
    <%= recipe.name %>
  </h2>

  <p class="d-flex flex-row gap-5">
    <span>
    <strong>Preparation time:</strong>
     <span><%= recipe.preparation_time %> </span>
    <strong>minutes</strong>
    </span>
    
    <strong>
      <% if @recipe.public == false %>
        <%= check_box :public, checked: false  %>
        <label class="check-label" for="unchecked">Public</label>
      <% else %>
        <%= check_box :public, checked: true %>
        <label class="check-label" for="checked">Public</label>
      <%end%>
    
    </strong>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>  <strong>minutes</strong>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>  
  </p>

</div>
