<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
    <strong>minutes</strong>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>  <strong>minutes</strong>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>  
  </p>

  <p>
    <strong>Public:</strong>
    <%= recipe.public %>
  </p>

</div>
