<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<%= link_to "New recipe", new_recipe_path %>



<div id="recipes">
  <% @recipes.each do |recipe| %>
    <div id="<%= dom_id recipe %>">
  <h2>
    <strong>Name:</strong>
    <%= recipe.name %>
  </h2>

   <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

</div>

    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
     <p>
      <%= link_to "Delete", recipe %>
    </p>
  <% end %>
</div>


