<p style="color: green"><%= notice %></p>
<h1>Recipe Details Page</h1>
<%= render @recipe %>


<div>
   <button class="border-light bg-info rounded-3 my-4 p-1 text-decoration-none">  <%= link_to "Generate shopping list", shopping_list_path %></button>
   <button class="border-light bg-info rounded-3 my-4 p-1 text-decoration-none"> 
    <%= link_to "Add ingredients", new_recipe_recipefood_path(@recipe.id) %>
    </button>
</div>

<%# horizontal line %>
<div class="border bg-dark mt-3 mb-4"></div>

<%# table %>
<%= render "ingredients" %>

<div>

  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> | 
  <button class="border-light bg-info rounded-3 my-4 p-1 text-decoration-none"><%= link_to "Back to recipes", recipes_path %></button>

  <%= button_to "Delete this recipe" , @recipe, method: :delete %>
</div>

