<%# <% if can? :read , @recipe %> 
<p style="color: green"><%= notice %></p>
<h1>Recipe Details Page</h1>
<%= render @recipe %>

<div>
 <%if can? :update, @recipe%> 
    <div>
      <button class="border-light bg-info rounded-3 my-4 p-1 text-decoration-none">  <%= link_to "Generate shopping list", generallist_path %></button>
    </div>
  
    <div>
      <button class="border-light bg-info rounded-3 my-4 p-1 text-decoration-none"> 
        <%= link_to "Add ingredients", new_recipe_recipefood_path(@recipe.id) %>
        </button>
    </div>
    
</div>

<%# horizontal line %>
<div class="border bg-dark mt-3 mb-4"></div>

<%# table %>
<%= render "ingredients" %>
<%end%>
  <div>
    <% if can? :destroy, @recipe%>
      <%= button_to "Delete this recipe" , @recipe, method: :delete %>

     <button class="border-light bg-info rounded-3 my-4 p-1 text-decoration-none"><%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> </button>
   <%end%>
    <button class="border-light bg-info rounded-3 my-4 p-1 text-decoration-none">
    <%= link_to "Back to recipes", recipe_path %>
    </button>
  </div>
<%# <%end%> 