<h1 class="w-full mb-10 text-lg font-bold text-center text-body-dark">General Shopping List</h1>
<div class="flex justify-center w-full gap-20 p-6 text-sm font-semibold text-textHeading">
  <p>Amount of food items to buy: <%= @shopping_lists.length %></p>
  <p>Total Value: $<%= @total_cost %></p>
</div>
<div class="flex justify-center foods">
  <table class="w-4/5 overflow-auto border-separate table-auto text-slate-500">
    <thead>
      <tr>
        <th class="p-3 text-sm font-semibold text-left bg-thead whitespace-nowrap text-textHeading">
          Food
        </th>
        <th class="p-3 text-sm font-semibold text-left bg-thead whitespace-nowrap text-textHeading">
          Quantity
        </th>
        <th class="p-3 text-sm font-semibold text-left bg-thead whitespace-nowrap text-textHeading">
          Price
        </th>
      </tr>
    </thead>
    <tbody>
      <% @shopping_lists.each do |food| %>
        <tr>
          <td class="px-3 py-4 text-sm font-normal text-left break-words bg-light text-textColor">
            <%= food.name %>
          </td>
          <td class="px-3 py-4 text-sm font-normal text-left break-words bg-light text-textColor">
            <%= food.quantity %> <%= food.measurement_unit %>
          </td>
          <td class="px-3 py-4 text-sm font-normal text-left break-words bg-light text-textColor">
            $ <%= food.price * food.quantity %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>