<header>
  <nav class="navbar navbar-dark bg-dark p-1 px-2">
  
    <ul class="navbar-nav d-flex flex-row gap-3 align-items-center fs-4 w-75 justify-content-between">
     <li><img src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=150" alt="food" width="180" height="90"></li>
        <li class="nav-item active">
            <%= link_to 'Recipes', recipes_path,class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Foods', foods_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Public-recipes', recipes_public_recipes_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
            <%= link_to 'General Shopping list', generallist_path, class: 'nav-link' %>
        </li>
    </ul>

    <ul class="navbar-nav d-flex gap-1">
        <li class="nav-item nav-item bg-dark text-white text-center p-0.5 rounded fs-5">
            <%= link_to 'Edit Profile', edit_user_registration_path,  class: 'nav-link' %>
        </li>
        
        <li class="nav-item bg-dark text-white text-center rounded fs-5">
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
              
     </ul>
           
    </nav>
</header>


